# Things related to imports and results
*.csv
*.xlsx
*.txt

*Results

# Things related to testing
test*.cpp
test.cpp
test*

# Other packages
Used/Old/matplotlib-cpp

# Things related to program
*.o
*.ko
*.obj
*.elf